@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background: #f2f2f2;
  color: #333333;
}

.container {
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  min-height: 65px;
}

.header-logo {
  margin-left: 70px;
  position: absolute;
}

.navigation-list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 390px;
  padding-left: 239px;
  list-style-type: none;
  display: flex;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
  padding-right: 70px;
  flex-wrap: nowrap;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
  padding: 20px 17px 19px;
  font-family: "PT Sans", sans-serif;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 17px;
}

.navigation-about:hover,
.navigation-catalog:hover,
.button-search:hover,
.button-favorite:hover {
  background-color: rgb(223, 237, 246)
}

.navigation-about:focus,
.navigation-catalog:focus,
.button-search:focus,
.button-favorite:focus {
  background-color: rgb(223, 237, 246);
  outline: none;
}

.navigation-about:active,
.navigation-catalog:active,
.button-search:active,
.button-favorite:active {
  background-color: rgb(129,180,211)
}

.navigation-item {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: -1px;
  height: 0;
  border: 1px solid #756257;
  content: "";
}

.button-wanna-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  border: #756157;
  padding: 9px 15px 8px;
  margin: 14px 0 14px 20px;
  cursor: pointer;
  width: 160px;
  font-family: "PT Sans", sans-serif;
}

.button-search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #ffffff;
  padding: 23px 12px;
  box-sizing: content-box;
  cursor: pointer;
}

.button-favorite {
  background-image: url("../images/icons/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
  border: none;
  background-color: #ffffff;
  padding: 24px 12px;
  box-sizing: content-box;
  cursor: pointer;
}

.description-text {
  display: block;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 90px;
}

.description-header {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  width: 620px;
  margin: 59px auto 31px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 230px;
  margin: 92px 85px 30px;
}

.advantages-number {
  margin: 30px 85px;
}

.advantages-description {
  margin: 30px 85px 92px;
}

.search {
  text-align: center;
}

.interested {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  margin: 91px auto 29px;
}

.interested-description {
  font-size: 22px;
  line-height: 26px;
  background: #ffffff;
  margin: 29px auto 0;
}

.interested-description-continue {
  font-size: 22px;
  line-height: 26px;
  background: #ffffff;
  margin: 0 auto 56px 304px;
  text-align: start;
}

.interested-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  padding: 12px 15px;
  margin: auto;
  border-radius: 4px;
  display: block;
  width: 544px;
}

.subscription {
  padding: 94px 0;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/subscription-background.jpg");
  background-repeat: no-repeat;
  margin-top: 93px;
  background-size: cover;
}

.subscription-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-top: 29px;
  margin-bottom: 46px;
}

.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 0 10px 10px 0;
  min-height: 60px;
  width: 200px;
  border: none;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}

.tel {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  padding: 5px 0;
}

.subscription-input {
  font-family: "PT Sans", sans-serif;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  line-height: 21px;
  height: 60px;
  width: 600px;
  box-sizing: border-box;
  border: none;
  padding: 22px;
}

.subscription-input:hover {
  opacity: 0.7;
}

.subscription-input:focus {
  opacity: 0.7;
}

.subscription-input:active {
  opacity: 0.3;
}

.subscription-container {
  display: flex;
  justify-content: center;
}

.subscription-form {
  margin: 0 20px;
}

.advantages-image {
  object-fit: cover;
  height: 100%;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  min-height: 384px;
}

.advantages-item:first-child {
  color: #ffffff;
  background: #82b3d3;
  display: flex;
  grid-column: 1/4;
}

.advantages-item:nth-child(3) {
  background: #ffffff;
}

.advantages-item:nth-child(5) {
  color: #ffffff;
  background: #82b3d3;
  display: flex;
  grid-column: 1/4;
}

.advantages-item:nth-child(7) {
  background: rgba(131, 179, 211, 0.2);
}

.main-container {
  flex-grow: 1;
}

.advantages-item:nth-child(2) .advantages-title,
.advantages-item:nth-child(3) .advantages-title,
.advantages-item:nth-child(4) .advantages-title {
  margin: 0 85px;
  padding-top: 182px;
}

.advantages-item:nth-child(2) .advantages-description,
.advantages-item:nth-child(3) .advantages-description,
.advantages-item:nth-child(4) .advantages-description {
  margin: 30px 85px 0;
  padding-bottom: 81px;
}

.advantages-item:nth-child(6) .advantages-title,
.advantages-item:nth-child(7) .advantages-title,
.advantages-item:nth-child(8) .advantages-title {
  margin: 103px 85px 30px;
}

.advantages-item:nth-child(6) .advantages-description,
.advantages-item:nth-child(7) .advantages-description,
.advantages-item:nth-child(8) .advantages-description {
  margin: 30px 85px 0;
  padding-bottom: 102px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  padding: 40px 0 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-width: 24px;
  min-height: 17px;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  display: block;
}

.button-vk {
  padding: 13px 12px;
  color: #83b3d3;
}

.button-telegram {
  padding: 12px 15px 13px;
  color: #83b3d3;
}

.button-youtube {
  padding: 11px 13px 12px 12px;
  color: #83b3d3;
}

.button-vk:hover,
.button-vk:focus,
.button-telegram:hover,
.button-telegram:focus,
.button-youtube:hover,
.button-youtube:focus {
  color: #68a2ca;
}

.button-vk:active,
.button-telegram:active,
.button-youtube:active {
  color: rgba(104, 162, 202, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-item:first-child .advantages-title,
.advantages-item:nth-child(5) .advantages-title {
  color: #ffffff;
}

.button-wanna-here:hover,
.button-wanna-here:focus,
.interested-link:hover,
.interested-link:focus {
  background-color: #615048;
  outline: none;
}

.subscription-button:hover,
.subscription-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.interested-link:active,
.button-wanna-here:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.interested-link:disabled,
.button-wanna-here:disabled,
.subscription-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.tel:hover,
.tel:focus {
  color: #756157;
}

.tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-htmlacademy {
  color: #000000;
}

.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
  color: #756157;
}

.logo-htmlacademy:active {
  color: rgba(117, 97, 87, 0.3);
}

.advantages-item:nth-child(2) .advantages-title {
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  background-position-x: 78px;
  background-position-y: 80px;
}

.advantages-item:nth-child(3) .advantages-title {
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position-x: 78px;
  background-position-y: 80px;
}

.advantages-item:nth-child(4) .advantages-title {
  background-image: url("../images/icons/present.svg");
  background-repeat: no-repeat;
  background-position-x: 83px;
  background-position-y: 80px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container.hidden {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 62px 70px 70px 70px;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 53px;
  background-color: #f2f2f2;
  cursor: pointer;
  border: none;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  font-weight: 700;
}

.date-start-container {
  display: flex;
  margin-top: 63px;
  position: relative;
}

.date-start-box {
  margin-left: 42px;
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  position: relative;
}

.date-end-box {
  margin-left: 36px;
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  position: relative;
}

.date-start-label {
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  width: 113px;
}

.date-end-label {
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  width: 119px;
}

.amount-of-adults-label,
.amount-of-children-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.amount-of-adults-label {
  width: 91px;
  padding: 12px 0;
}

.amount-of-children-label {
  margin-left: 56px;
  width: 54px;
  padding: 12px 0;
}

.date-start,
.date-end {
  width: 374px;
  height: 20px;
  padding: 12px 24px 12px 16px;
  border: 3px solid transparent;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  background: #f2f2f2;
}

.date-start-description {
  color: #ff5757;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 8px;
}

.date-end-container {
  display: flex;
  margin-top: 11px;
  position: relative;
}

.date-end-description {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 8px;
}

.amount-container {
  display: flex;
  margin: 11px 0 40px 0;
  position: relative;
  align-items: flex-start;
}

.amount-of-adults,
.amount-of-children {
  border: none;
  font-size: 18px;
  line-height: 21px;
  width: 133px;
  height: 50px;
  padding: 0;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  background: #f2f2f2;
  text-align: center;
}

.info-button {
  border: none;
  margin: 14px 0 11px;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-button:hover {
  background-color: #68a2ca;
}

.search-button {
  width: 575px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  background-color: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}

.adults-container,
.children-container {
  display: flex;
  position: relative;
  width: 133px;
  height: 50px;
  align-items: center;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.adults-container {
  margin-left: 64px;
}

.children-container {
  margin-left: 18px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  background-color: #68a2ca;
}

.minus-button {
  border: none;
  background-color: #f2f2f2;
  padding: 0;
  cursor: pointer;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 16px;
  top: 15px;
}

.plus-button {
  border: none;
  background-color: #f2f2f2;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 16px;
  top: 15px;
}

.search-button:hover {
  background-color: #68a2ca;
}

.search-button:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.search-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.minus-button,
.plus-button {
  color: rgba(0, 0, 0, 0.3);
}

.minus-button:hover,
.plus-button:hover {
  color: rgba(0, 0, 0, 1);
}

.minus-button:focus-visible,
.plus-button:focus-visible {
  outline: 3px solid #83b3d3;
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.minus-button:active,
.plus-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  fill-opacity: 0.3;
}

.date-start:hover,
.date-end:hover,
.amount-of-adults:hover,
.amount-of-children:hover,
.amount-of-adults:hover~button,
.amount-of-children:hover~button {
  background: #e6e6e6;
}

.date-start:focus,
.date-end:focus {
  border: 3px solid #83b3d3;
  background: #e6e6e6;
  outline: none;
}

.date-start:active,
.date-end:active {
  border: 2px solid #000000;
  background: #ffffff;
  padding: 13px 25px 13px 17px;
  outline: none;
}

.amount-of-adults:focus,
.amount-of-children:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.amount-of-adults:active,
.amount-of-children:active {
  outline: 2px solid #000000;
  border-radius: 4px;
}

.rectangle-black {
  width: 216px;
  min-height: 110px;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  color: #ffffff;
  padding: 15px 18px 18px 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  z-index: 1;
  top: 54px;
  left: 50%;
  transform: translateX(-50%);
}

.triangle-black::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #333333;
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100vh;
  overflow: auto;
}

.rectangle-black.hidden {
  display: none;
}

.calendar-icon {
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  opacity: 0.3;
  position: absolute;
  right: 19px;
  top: 18px;
  padding: 0;
}

.amount-of-adults::-webkit-outer-spin-button,
.amount-of-adults::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.amount-of-children::-webkit-outer-spin-button,
.amount-of-children::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.amount-of-children,
.amount-of-adults {
  -moz-appearance: textfield;
}

.amount-of-children:hover,
.amount-of-children:focus,
.amount-of-adults:hover,
.amount-of-adults:focus {
  -moz-appearance: number-input;
}

.info-container {
  position: relative;
}

.amount-favorite {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7db54f;
  outline: none;
  border: none;
  position: absolute;
  left: 24px;
  top: 15px;
  text-align: center;
}

.amount-favorite-value {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  margin-top: 3px;
  display: block;
}
